<!DOCTYPE html>
<html>

<head>
  <title>JOKES!</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
  <h1>Joke</h1>
  <div class="joke">
    <p>
      <%= setup %>
    </p>
    <p>
      <%= delivery %>
    </p>
  </div>
</body>

</html>